#version=DEVEL
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens160 --ipv6=auto --activate --nameserver=192.168.0.212,192.168.0.1
network  --hostname=vsphere-iso.centos.marekexample.com

# Root password
rootpw --iscrypted $6$ew/NlfSNJuhvKsoT$xI2Yv.2TKqaf8iInARuLdCMqKKvCCI0JO21Tq4oUQo9/kuCezCl6NwmwMx.GWBjj6.eZPCTNk7jXuRWt/v6//.
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Warsaw --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# disk configuration
zerombr
clearpart --all --initlabel --drives=sda
part /boot --fstype="xfs" --size=500
part pv.0 --size=1 --grow
volgroup vg01 pv.0
logvol swap --fstype="swap" --name=lv_swap --vgname=vg01 --recommended
logvol / --fstype="xfs" --name=lv_root --vgname=vg01 --size=1 --grow



%packages
@^minimal-environment
%end


%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
yum update -y
yum install -y open-vm-tools
cat << EOF > /etc/vmware-tools/tools.conf
[guestinfo]
primary-nics=ens*
EOF
%end

reboot
