[req]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[req_distinguished_name]
C   = PL
ST  = SL
L   = KCE
O   = MAREKEXAMPLE
OU  = IT
CN  = tst1.marekexample.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = alt1.marekexample.com

